.base-container {
  width: 200px;
  height: 180px;
  border: 1px solid #2db7f5
}

.base-item {
  background: #D3D3D3;
  margin: 1px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
